<!DOCTYPE html>
<html>
<head>
	<title>Book Store Sign In</title>
	{% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-body">
	<div class="login-wrapper">
		<div class="signin-form form">
			<div class="messages">
				{% with messages|slice:"-1:" as last_message %}
  					{% for message in last_message %}
						<p>{{ message }}</p>
  					{% endfor %}
				{% endwith %}
			</div>

			<h3> Sign In</h3>	
			<form action="" method="POST" class="auth-validate-form">
				{% csrf_token %}
				<div class="form-group">
				   <label>Username</label>
				   <input type="text" name="user" class="form-control">
				</div>
				<div class="form-group">
				   <label>Password</label>
				   <input type="password" name="pass" class="form-control">
				</div>
				<button type="submit" class="btn btn-default">Login</button>
			</form>

			<div class="a-divider-break"><h5>New to BookStore?</h5></div>
			<a class="btn btn-default" href="{% url 'store:registration' %}">Create your BookStore account</a>
		</div> 
	</div>
</body>
</html>